*, *::before, ::after {
box-sizing: border-box;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: normal;
}

body {
    /* remove all padding and margin so background color will fill in whole screem */
    padding: 0;
    margin: 0;
    /* this code below allows background to be in a gradient style going from left to right */
    background: linear-gradient(to right, rgb(11, 179, 221),rgb(185, 12, 185));

}

/* styles the calculator grid */
.calculator-grid {

    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    /* minmax (120px, auto) gives us a min of 120px and max of auto */
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: antiquewhite;
}

.calculator-grid > button:hover {
    background-color: blueviolet;
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: black;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand{
color: antiquewhite;
font-size: 1.5rem;
}
.output .current-operand{
color: white;
font-size: 2.5rem;
}